{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %} <title>{% trans "Purpose" %}</title> {% endblock %}

{% block css %}
<link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet" />

<style>
    .choices .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background-color: var(--phoenix-primary)!important;
        color: var(--phoenix-emphasis-bg)!important;
    }
</style>
{% endblock %}

{% block content %}

    <div class="content">
        <nav class="mb-3" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">{% trans "Home Page" %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'purpose_list' %}">{% trans "Purpose List" %}</a></li>
                <li class="breadcrumb-item active">{% trans "Update" %}</li>
            </ol>
        </nav>
        <h2 class="text-bold text-body-emphasis mb-5">{% trans "Purpose Update" %}</h2>

        {% for message in messages %}
            <div class="alert alert-subtle-{% if message.tags == 'success' %}success{% else %}warning{% endif %} d-flex align-items-center" role="alert">
                <p class="mb-0 flex-1">{{ message }}!</p>
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <form method="post" class="row g-3 needs-validation" novalidate="">
            {% csrf_token %}
            <div class="col-md-4 mb-3 position-relative">
                <label class="form-label" for="validationTooltip01">{% trans "Name" %}</label>
                {{ form.name }}
                {% if form.name.errors %}
                    <div class="invalid-tooltip" style="display:block;">
                        {{ form.name.errors.0 }}
                    </div>
                {% else %}
                    <div class="valid-tooltip">{% trans "Looks good!" %}</div>
                {% endif %}
                {% comment %} <div class="valid-tooltip">{% trans "Looks good!" %}</div> {% endcomment %}
                <div class="invalid-tooltip">{% trans "Looks not good!" %}</div>
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>
{% endblock %}
