{% extends "authentication/auth_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}<title>{% trans "Reset Password" %}</title>{% endblock %}

{% block content %}

  {% for message in messages %}
    <div class="alert alert-subtle-warning d-flex align-items-center" role="alert">
      <p class="mb-0 flex-1">{{ message }}!</p>
      <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}

  <!-- Display area for the countdown timer -->
  <div id="timer-display" class="text-center mb-3"></div>

  <form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="alert alert-subtle-warning d-flex align-items-center" role="alert">
        {% for error in form.non_field_errors %}
          <p class="mb-0 flex-1">{{ error }}!</p>
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-icon-container mb-3">
      <div class="form-floating">
        {{ form.new_password1 }}
        <label class="text-body-tertiary form-icon-label" for="new_password1">{{ form.new_password1.label }}</label>
      </div>
      <span class="fa-solid fa-key text-body fs-9 form-icon"></span>
      {% if form.new_password1.errors %}
        <div class="text-danger">
          {% for error in form.new_password1.errors %}
            <small>{{ error }}</small>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="form-icon-container">
      <div class="form-floating">
        {{ form.new_password2 }}
        <label class="text-body-tertiary form-icon-label" for="new_password2">{{ form.new_password2.label }}</label>
      </div>
      <span class="fa-solid fa-key text-body fs-9 form-icon"></span>
      {% if form.new_password2.errors %}
        <div class="text-danger">
          {% for error in form.new_password2.errors %}
            <small>{{ error }}</small>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary w-100 my-3">{% trans "Set Password" %}</button>
  </form>

{% endblock %}

{% block script %}

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var expiryTimestamp = parseInt('{{ expiry_timestamp }}')
      
      if (isNaN(expiryTimestamp) || expiryTimestamp <= 0) {
        document.getElementById('timer-display').innerText = 'Invalid or expired token.'
        window.location.href = "{% url 'reset_password' %}" // Redirect immediately if expired
        return
      }

      var timerDisplay = document.getElementById('timer-display')

      function updateTimer() {
        var nowUtc = Math.floor(Date.now() / 1000) // Get current time in UTC
        var nowUtcPlus4 = nowUtc + 4 * 3600 // Convert to UTC+4

        var secondsLeft = expiryTimestamp - nowUtcPlus4

        // console.log("now (UTC):", nowUtc);
        // console.log("now (UTC+4):", nowUtcPlus4);
        // console.log("expiryTimestamp:", expiryTimestamp);
        console.log('secondsLeft:', secondsLeft)

        if (secondsLeft <= 0) {
          clearInterval(timerInterval)
          timerDisplay.innerText = 'Time expired! Redirecting...'

          // Redirect to forget password page
          window.location.href = "{% url 'reset_password' %}"
          return
        }

        var minutes = Math.floor(secondsLeft / 60)
        var seconds = secondsLeft % 60
        timerDisplay.innerText = minutes + ' minutes ' + seconds + ' seconds remaining'
      }

      updateTimer()
      var timerInterval = setInterval(updateTimer, 1000)
    })
  </script>

{% endblock %}